* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    margin: 0 5rem;
    align-items: center;
}

.cabecalho__logo {
    display: flex;
    align-items: center;
}

.cabecalho__botao {
    display: flex;
    align-items: center;
    height: 2.5rem;
    padding: 1rem;
    color: #2a7ae4;
    background-color: #fff;
    border: 1px solid #2a7ae4;
}