* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Raleway";
}

button:hover {
    cursor: pointer;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    margin: 0 152px;
    align-items: center;
}

.cabecalho__logo {
    display: flex;
    align-items: center;
}

.cabecalho__botao {
    display: flex;
    align-items: center;
    height: 42px;
    padding: 19px;
    color: #2a7ae4;
    background-color: #fff;
    border: 1px solid #2a7ae4;
    font-size: 16px;
}